* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.header-image{
  background-image: url(img/mv.jpg);
  height: 400px;
  background-size: cover;
  background-position: bottom;
}

.header-text {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.box1 {
  width: 840px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #f7f7f7;
}

.box2 {
  width: 840px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f7f7f7;
}

.box3 {
  width: 840px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f7f7f7;
}

.box4 {
  width: 840px;
  padding-bottom: 30px;
  /*margin-bottom: 30px;*/
  border-bottom: 2px solid #f7f7f7;
}