header {
  height: 50px;
  background-color: #FF9A4B;
}

.items {
  width: 960px;
  margin: 50px auto;
  display: flex
}

.item {
  margin: 10px;
  background-color: #EEEEEE;
  width: 300px;
  position: relative;
  padding: 10px;
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0;
}

.item-name {
  background-color: #FF9A4B;
  /*width: 15%;*/
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.item-image1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.item-image2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.item-image3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.item-title {
  margin-top: 15px;
  margin-bottom: 5px
}

.item-body{

}

footer{
  height: 50px;
  background-color: #AAAAAA;
}