* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 0;
  text-align: center;
}

.h-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom: 1px solid #848282;
  border-top: 1px solid #848282;
}

.nav-list {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  flex-wrap: wrap;
  width: 800px;
  margin: 50px auto;
  display: flex;
}

.main-content1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.main-content2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.main-content3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.main-content4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.main-content5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}